DirectorLookup/trunk/SourceCode/EJBModel/src/META-INF/whoismydirector.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://maps.rtd-denver.com" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://maps.rtd-denver.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://maps.rtd-denver.com">
      <s:element name="GetDistrict">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="zip" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDistrictResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDistrictResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetDistrictSoapIn">
    <wsdl:part name="parameters" element="tns:GetDistrict" />
  </wsdl:message>
  <wsdl:message name="GetDistrictSoapOut">
    <wsdl:part name="parameters" element="tns:GetDistrictResponse" />
  </wsdl:message>
  <wsdl:portType name="DistrictSoap">
    <wsdl:operation name="GetDistrict">
      <wsdl:input message="tns:GetDistrictSoapIn" />
      <wsdl:output message="tns:GetDistrictSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DistrictSoap" type="tns:DistrictSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDistrict">
      <soap:operation soapAction="http://maps.rtd-denver.com/GetDistrict" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DistrictSoap12" type="tns:DistrictSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDistrict">
      <soap12:operation soapAction="http://maps.rtd-denver.com/GetDistrict" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="District">
    <wsdl:port name="DistrictSoap" binding="tns:DistrictSoap">
      <soap:address location="http://maps.rtd-denver.com/services/whoismydirector/district.asmx" />
    </wsdl:port>
    <wsdl:port name="DistrictSoap12" binding="tns:DistrictSoap12">
      <soap12:address location="http://maps.rtd-denver.com/services/whoismydirector/district.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>